td{
    padding: 20px;
    border: 2px solid;
    text-align: center;
}
td:hover{
    background-color: #3b87a2;
}
table{
    border-collapse: collapse;
}
tr:first-of-type{
    background-color: #af3e9c;
}
